.box {
  background-color: rgba(14, 8, 50, 0.695);
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  flex-grow: 1;
  padding: 2rem 2rem;
}

.box.claimed {
  outline: 2px solid #78e4ff;
}

.image {
  border-radius: 0.3rem;
}

.brand h5 {
  font-size: 1rem;
  margin: 0;
}

.brand p {
  font-size: 0.8rem;
  margin: 0;
  font-weight: bold;
  color: #78e4ff;
  margin-bottom: 1rem;
}
.imgdiv {
  height: 15rem;
  width: 15rem;
  overflow: hidden;
  background-color: #0c053d;
  border-radius: 20px;
}

.imgdiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.content {
  margin-left: 2rem;
  display: flex;

  flex-direction: row;
}

.content h1 {
  font-size: 2.7rem;
  margin-top: 0;
  margin-bottom: 10px;
}
.minter {
  margin-top: 0;
}
.minter h5 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #aba9a9;
  margin: 0;
}

.warranty {
  margin-top: 0;
  display: flex;
  flex-flow: row nowrap;
}
.warranty h5 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #aba9a9;
  margin: 0;
}

.warranty p {
  font-weight: 600;
  font-size: 0.8rem;
  color: #aba9a9;
  margin: 0;
  margin-left: 0.5rem;
}

.owner h5 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #aba9a9;
  margin: 0;
}
.price h5 {
  font-weight: 300;
  margin: 0;

  font-size: 1.1rem;
  color: #aba9a9;
}
.desc h5 {
  font-weight: 300;
  margin: 0;

  font-size: 1.1rem;
  color: #aba9a9;
}

.minter p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

.owner p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-bottom: 18px;
}
.desc p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-bottom: 18px;
}

.desc {
  max-width: 30vw;
}
.lesgo {
  display: flex;
  flex-direction: row;
}

.submit {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}
.box button {
  padding: 1rem;
  cursor: pointer;
  margin-top: 2.5rem;
  border-radius: 30rem;
  color: white;
  padding: 0.4rem 2.5rem;
  background-color: #0a0623;

  /*border: 2px solid white; */
  border: solid 2px transparent;
  font-family: 'Titillium Web';
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0a0623 inset;
  font-size: 1rem;
  font-weight: 600;
  transition: 200ms ease-in all;
}

.box button:hover {
  box-shadow: none;
  color: white;
}

@media only screen and (max-width: 780px) {
  .buttonflex {
    display: flex;
    flex-direction: row;
  }
  .imgdiv {
    align-items: center;
    text-align: center;
  }
  .content {
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
  }
  .box {
    flex-direction: column;
  }
}

@media only screen and (max-width: 440px) {
  .buttonflex {
    display: flex;
    flex-direction: column;
  }
}
