.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h1 {
  text-align: center;
  font-size: 3rem;
}
.main h4 {
  font-weight: 200;
  font-size: large;
  margin: 0;
}

.main h1 span {
  color: #78e4ff;
}
.container {
  padding: 0 2rem;
  margin: auto;
  max-width: 1400px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 4rem auto;
}

@media screen and (max-width: 1407px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.select-dropdown {
  display: inline-block;
  flex-grow: 0;
}
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown select option {
  background-color: #e6e6e6;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tabs {
  display: flex;
  width: 15rem;
  background-color: transparent;
  border-radius: 50rem;
  border: 2px solid #100ddd;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.tab {
  flex: 1 1 50%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50rem 0 0 50rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab:last-of-type {
  border-radius: 0rem 50rem 50rem 0rem;
}

.tab.active {
  background-color: #100ddd;
  color: #fff;
  font-weight: bolder;
}
