.foot {
  position: absolute;
  background-color: transparent;
  bottom: 0;
  width: 60vw;
  left: 43vw;
}

.foot h4 {
  font-weight: 400;
  bottom: 0;
}

@media only screen and (max-width: 927px) {
  .foot {
    left: 0;
    margin-top: 3rem;
    height: 12vh;
    position: relative;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
  }

  .foot h4 {
    font-weight: 400;
    text-align: center;
  }
}
